body{
    margin: 0;
    padding: 0;
}


/*<!--************- BANNER -************-->*/
.banner{
    background-color: black;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerphoto{
    width: 400px;
    height: 400px;
}

.bannerphoto2{
    width: 200px;
    height: 200px;
}

/*<!--************- BARRA DE NAVEGACION -************-->*/
ul li{
    font-size: 30px;
}
  


/*<!--************- CARRUSEL -************-->*/

.w-100{
    height: 100%;
}


/*<!--************- CONTENIDO -************-->*/

.textocentral{
    text-align: center;
}
.titulo1{
    font-family: 'Langar', cursive;
    color: crimson;
}
.titulo2{
    font-family: 'Langar', cursive;

}

.card{
    margin-right: 0px;
    border: none;
    align-items: center;
    
}

.card-text{
    font-size: 25px;
    color: #afb7be;
}

.photokard1{
    width: 30%;
}


.photokard2{
    width: 30%;
}


.photokard3{
    width: 30%;
}


/*<!--************- FOOTER -************-->*/
footer{
    background-color: rgb(52, 58, 64);
     width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.icon{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.fooText{
    margin-left: 20px;
}
.fooIma{
    margin-right: 20px;
}
        











  /*<!--************- PAGINA NOSOTROS -************-->*/

  .contenedor{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bonito{
    border-radius: 50px;
    margin: 100px 0 100px 0;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 15px black;
} 

 .bonito img{
    width: 500px;
    height: 500px;
    border-radius: 30px;
    margin: 40px;
}

.bonito p{
    font-size: 25px;
    color: black;
    width: 50%;
    height: 100%;
    margin: 40px; 
}





/*<!--************- MEDIA QUERY -************-->*/

  /* For width 550px and larger: */
  @media only screen and (max-width: 991px) {
    body{
        background-color: green;
    }
    .banner{
        height: 300px;
    }

    .bannerphoto{
        width: 150px;
        height: 150px;
    }
    .bannerphoto2{
        width: 80px;
        height: 80px;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     
    }
    
    .bonito{
        display: block;
        text-align: center;
    }
    .bonito img{
        width: 70%;
        height: 70%;
        border-radius: 30px;
    }
    .bonito p{
        font-size: 35px;
        color: black;
        width: 80%;
        height: 100%;
    }
    .carousel-item{
        height: 100px;
    }

}
   
    



  

  @media only screen and (min-width: 992px) {
    body{
        background-color: yellow;
    }
      .photokard1{
        width: 200px;
        height: 200px;
        }
        .photokard2{
            width: 200px;
            height: 200px;
            }
            .photokard3{
                width: 200px;
                height: 200px;
                }

    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 80%;
        max-width: 100%; } 
        
        .carousel-multi-item-2 .card img {
        border-radius: 2px; 
        }
    
    .bonito {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 15px black;
    }
    .bonito p{
        font-size:35px;
        color: black;
        width: 80%;
        height: 100%;
    }
          
  }

  @media only screen and (min-width: 1300px) {
    .bonito{
        border-radius: 50px;
        margin: 100px 0 100px 0;
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
 }
  }

  @media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
    }

    .carousel-multi-item-2 .card img {
        border-radius: 2px; 
    }

}
    
    


