/*<!--************- Variables -************-->*/
body {
  margin: 0;
  padding: 0; }

/*<!--************- BANNER -************-->*/
.banner {
  background-color: black;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.bannerphoto {
  width: 400px;
  height: 400px; }

.bannerphoto2 {
  width: 200px;
  height: 200px; }

/*<!--************- BARRA DE NAVEGACION -************-->*/
ul li {
  font-size: 30px;
  margin-right: 20px;
  font-family: "Inconsolata", monospace; }

.navbar-brand {
  font-size: 30px;
  font-family: "Inconsolata", monospace;
  font-weight: bolder; }

.nav-link:hover {
  border-radius: 20px;
  background-color: crimson;
  font-weight: bolder; }

/*<!--************- CARRUSEL -************-->*/
.w-100 {
  height: 100%;
  object-fit: fill; }

/*<!--************- CONTENIDO -************-->*/
.textocentral {
  text-align: center; }

.titulo1 {
  font-family: 'Langar', cursive;
  color: crimson; }

.titulo2 {
  font-family: 'Langar', cursive; }

.card {
  margin-right: 0px;
  border: none;
  align-items: center; }

.card-text {
  font-size: 25px;
  color: #b2beaf; }

.photokard1 {
  width: 30%; }

.photokard2 {
  width: 30%; }

.photokard3 {
  width: 30%; }

/*<!--************- FOOTER -************-->*/
footer {
  background-color: #343a40;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

footer p {
  color: white;
  font-size: 20px;
  font-weight: bolder; }

.icon {
  width: 50px;
  height: 50px;
  margin: 10px; }

.fooText {
  margin-left: 20px; }

.fooIma {
  margin-right: 20px; }

/*<!--************- PAGINA NOSOTROS -************-->*/
.contenedor {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center; }

.bonito {
  border-radius: 50px;
  margin: 100px 0 100px 0;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 5px 5px 15px black; }

.bonito img {
  width: 500px;
  height: 500px;
  border-radius: 30px;
  margin: 40px; }

.bonito p {
  font-size: 25px;
  color: black;
  width: 50%;
  height: 100%;
  margin: 40px; }

/*<!--************- PAGINA PRODUCTOS -************-->*/
.card {
  margin-right: 0px;
  border: none;
  align-items: center; }

.card-body {
  position: relative; }

.text-muted2 {
  position: absolute;
  right: 100px;
  bottom: 0;
  font-size: 30px;
  color: rgba(220, 20, 60, 0.657) !important;
  font-weight: bolder; }

.card-text {
  font-size: 25px;
  color: #afb7be; }

.photoProdu1 {
  width: 50%; }

.photoProdu2 {
  width: 50%; }

.photoProdu3 {
  width: 50%; }

.card-titulo {
  text-align: center;
  color: crimson; }

.photoeffect img {
  object-fit: cover;
  position: relative;
  filter: brightness(100%);
  transition: 1s;
  animation-duration: 4s; }

.photoeffect img:hover {
  transform: scale(1.6); }

/*<!--************- PAGINA CONTACTO -************-->*/
fieldset {
  border: none;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  color: crimson;
  width: 40%;
  height: 20%; }

.containerFiel {
  box-shadow: 5px 5px 15px black;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.fielimg {
  margin-top: 20px;
  width: 20%;
  height: 20%; }

.input {
  width: 80%;
  height: 5%;
  border-radius: 15px;
  background-color: rgba(52, 58, 64, 0.212);
  padding: 2%; }

.comentario {
  height: 30%;
  width: 100%; }

label {
  font-family: "Inconsolata", monospace;
  font-weight: bolder; }

.boton {
  padding: 10px 40px 10px 40px;
  margin-right: 50px;
  border-radius: 10px;
  font-weight: bolder; }

.boton:hover {
  color: white;
  font-weight: bolder;
  background-color: crimson; }

.jump {
  display: none; }

/*<!--************- MEDIA QUERY -************-->*/
@media only screen and (max-width: 991px) {
  .banner {
    height: 300px; }
  .bannerphoto {
    width: 150px;
    height: 150px; }
  .bannerphoto2 {
    width: 80px;
    height: 80px; }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .bonito {
    display: block;
    text-align: center;
    height: 70vh;
    width: 90%;
    overflow: scroll; }
  .bonito img {
    width: 70%;
    height: 40%;
    border-radius: 30px; }
  .bonito p {
    font-size: 25px;
    color: black;
    width: 80%;
    height: 100%; }
  .carouselImg {
    height: 50vh; }
  .containerFiel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px; }
  fieldset {
    width: 90%;
    height: 90%;
    font-size: 20px; }
  .input {
    width: 80%;
    height: 70%;
    border-radius: 10px; }
  .fielimg {
    margin-top: 20px;
    width: 80%;
    height: 80%; }
  .salto {
    display: none; }
  .boton {
    height: 50%;
    width: 50%;
    padding: 0px;
    margin-right: 0px; }
  .seleect {
    width: 50%; }
  .jump {
    display: inline; }
  .bordeer {
    border-top: 1px solid rgba(0, 0, 0, 0.335); } }

@media only screen and (min-width: 992px) {
  /* body{
        background-color: yellow;
    } */
  .photokard1 {
    width: 200px;
    height: 200px; }
  .photokard2 {
    width: 200px;
    height: 200px; }
  .photokard3 {
    width: 200px;
    height: 200px; }
  .bonito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px black; }
  .bonito p {
    font-size: 25px;
    color: black;
    width: 80%;
    height: 100%; } }

@media only screen and (min-width: 1300px) {
  .bonito {
    border-radius: 50px;
    margin: 100px 0 100px 0;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .carouselImg {
    height: 88vh; } }

@media (min-width: 761px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; }
  .carousel-multi-item-2 .card img {
    border-radius: 2px; } }

@media (min-width: 320px) and (max-width: 761px) {
  .salto2 {
    display: none; } }
